.footer {

    background-color: $background-color;

    &--subinfo {

        position: relative;
        right: 140px;
        
        & h1 {
    
            font-family: $logo-font;
            text-align: center;
            padding-bottom: 10px;
        }
    
        & input {
    
            padding: 10px;
            width: 90%;
            border: 1px solid #cac7c7;
            border-radius: 20px;
        }
    }

}