.footer {

    &--info {
    
        padding-top: 20px;
    
    
        & p {
    
            width: 38%;
            padding-bottom: 10px;
            color: #cac7c7;
        }
    
        &--socialmedia {
    
            & img {
    
                padding-right: 10px;
            }
        }
    }

    

}
