* {

    margin: 0;
    padding: 0;
}

.container {

    margin: 0 auto;
    width: 1070px;
}

.row {

    display: flex;
    padding: 10px;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    align-items: center;
}